<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ebookfrenzy.com.todo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".AddNote" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ebookfrenzy.com.todo.MainActivity" />
        </activity>
        <activity android:name=".UpdateNote" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ebookfrenzy.com.todo.MainActivity" />
        </activity>
        <receiver
            android:name=".MyReceiver">

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>